.container{
 min-height: calc(100vh - 60px);
  /* height: full; */
  width: 100%;
}
.wrapper{
  height: 100%;
  width: 90%;
  margin: 0 auto;
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.container > h2{
  text-align: center;
  color: #333;
  margin-top: 1.2rem;
  font-size: 32px;
}
